.formTable{
    margin: auto;
    min-width: 300px;
    width: available;
}

.formItemContainer{
    padding: 1rem;
}

.submitBtn{
    font-size: 18px;
    font-weight: bold;
    background: #779977;
    padding: 0.5rem;
    border-radius: 1rem;
    min-width: 150px;
}

.submitBtn:hover{
    background: #00FF00;
}

.formButtonContainer{
    padding: 1rem;
}

.formHeader{
    font-size: 20px;
}