html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    background: blue;
    display: block;
    justify-content: center;
}

#headerBar{
    width: 100%;
    background: #555555;
    text: white;
    padding: 1rem;
}

#headerBar a:link,
#headerBar a:visited{
    color: white;
    text-decoration: none;
}

.navigationItem{
    margin: 2rem;
}

.navigationItem:hover{
    background: blue;
}

.navigationLogo{
    height: 2rem;
    float: right;
    margin-right: 1rem;
}

#contentSection{
    margin: auto;
    background: steelblue;
    padding: 1rem;
    min-width: fit-content;
    width: 80%;
}